In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dt = pd.read_csv(r"C:\Users\nirma\Downloads\advertising.csv")

In [4]:
dt

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [5]:
dt.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
dt.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [7]:
dt.shape

(200, 4)

In [8]:
dt.size

800

In [9]:
dt.info

<bound method DataFrame.info of         TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]>

In [10]:
dt.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
Radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
Newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
Sales      200.0   15.1305   5.283892  1.6  11.000   16.00   19.050   27.0

In [11]:
dt.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [12]:
dt.duplicated().sum()

0

In [13]:
x =dt.iloc[ :, :-1]

In [14]:
x.T

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
TV,230.1,44.5,17.2,151.5,180.8,8.7,57.5,120.2,8.6,199.8,...,39.5,75.5,17.2,166.8,149.7,38.2,94.2,177.0,283.6,232.1
Radio,37.8,39.3,45.9,41.3,10.8,48.9,32.8,19.6,2.1,2.6,...,41.1,10.8,4.1,42.0,35.6,3.7,4.9,9.3,42.0,8.6
Newspaper,69.2,45.1,69.3,58.5,58.4,75.0,23.5,11.6,1.0,21.2,...,5.8,6.0,31.6,3.6,6.0,13.8,8.1,6.4,66.2,8.7

In [15]:
y = dt.iloc[:,-1]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state = 0)

In [18]:
x_train

        TV  Radio  Newspaper
71   109.8   14.3       31.7
124  229.5   32.3       74.2
184  253.8   21.3       30.0
97   184.9   21.0       22.0
149   44.7   25.8       20.6
..     ...    ...        ...
67   139.3   14.5       10.2
192   17.2    4.1       31.6
117   76.4    0.8       14.8
47   239.9   41.5       18.5
172   19.6   20.1       17.0

[150 rows x 3 columns]

In [19]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [20]:
x_test

        TV  Radio  Newspaper
18    69.2   20.5       18.3
170   50.0   11.6       18.4
107   90.4    0.3       23.2
98   289.7   42.3       51.2
177  170.2    7.8       35.2
182   56.2    5.7       29.7
5      8.7   48.9       75.0
146  240.1    7.3        8.7
12    23.8   35.1       65.9
152  197.6   23.3       14.2
61   261.3   42.7       54.7
125   87.2   11.8       25.9
180  156.6    2.6        8.3
154  187.8   21.1        9.5
80    76.4   26.7       22.3
7    120.2   19.6       11.6
33   265.6   20.0        0.3
130    0.7   39.6        8.7
37    74.7   49.4       45.7
74   213.4   24.6       13.1
183  287.6   43.0       71.8
145  140.3    1.9        9.0
45   175.1   22.5       31.5
159  131.7   18.4       34.6
60    53.5    2.0       21.4
123  123.1   34.6       12.4
179  165.6   10.0       17.6
185  205.0   45.1       19.6
122  224.0    2.4       15.6
44    25.1   25.7       43.3
16    67.8   36.6      114.0
55   198.9   49.4       60.0
150  280.7   13.9       37.0
111  241.7   38.0       23.2
22    13.2   15.9       49.6
189   18.7   12.1       23.4
129   59.6   12.0       43.1
4    180.8   10.8       58.4
83    68.4   44.5       35.6
106   25.0   11.0       29.7
134   36.9   38.6       65.6
66    31.5   24.6        2.2
26   142.9   29.3       12.6
113  209.6   20.6       10.7
168  215.4   23.6       57.6
63   102.7   29.6        8.4
8      8.6    2.1        1.0
75    16.9   43.7       89.4
118  125.7   36.9       79.2
143  104.6    5.7       34.4

In [21]:
y_train

71     12.4
124    19.7
184    17.6
97     20.5
149    10.1
       ...
67     13.4
192     5.9
117     9.4
47     23.2
172     7.6
Name: Sales, Length: 150, dtype: float64

In [22]:
y_test

18     11.3
170     8.4
107    12.0
98     25.4
177    16.7
182     8.7
5       7.2
146    18.2
12      9.2
152    16.6
61     24.2
125    10.6
180    15.5
154    20.6
80     11.8
7      13.2
33     17.4
130     1.6
37     14.7
74     17.0
183    26.2
145    10.3
45     16.1
159    12.9
60      8.1
123    15.2
179    17.6
185    22.6
122    16.6
44      8.5
16     12.5
55     23.7
150    16.1
111    21.8
22      5.6
189     6.7
129     9.7
4      17.9
83     13.6
106     7.2
134    10.8
66     11.0
26     15.0
113    20.9
168    17.1
63     14.0
8       4.8
75      8.7
118    15.9
143    10.4
Name: Sales, dtype: float64

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
reg = LinearRegression()

In [25]:
reg.fit(x_train,y_train)

LinearRegression()

In [26]:
y_pred = reg.predict(x_test)

In [27]:
y_pred

array([10.69034418,  8.68132435,  9.59290052, 24.88241319, 14.68606352,
        8.36077587, 10.5898131 , 18.36838345,  9.87359003, 17.86306812,
       23.40835973, 10.69153461, 13.38610616, 17.09651474, 11.7596204 ,
       13.31736836, 21.13410725,  9.13820326, 14.17420598, 18.85121771,
       24.84655353, 12.43749806, 16.57128353, 13.79857232,  7.80827038,
       15.12861077, 14.68386733, 20.66548775, 16.96644118,  8.90614184,
       12.38904935, 20.8124535 , 21.26609738, 21.84309375,  7.18768267,
        7.06323314,  9.23756125, 15.58290474, 13.29684701,  7.27825284,
       10.96029997,  9.12857882, 15.60175994, 18.20653066, 18.8457611 ,
       13.48625496,  5.42016056, 10.45332757, 15.51862918, 10.94769952])

In [30]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [31]:
print("mse:", mean_squared_error(y_test,y_pred))
print("mae:",mean_absolute_error(y_test,y_pred))
print("r2:",r2_score(y_test,y_pred))

mse: 3.958353281475325
mae: 1.3405402421444605
r2: 0.8718069474344206